.header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoWrapper {
    text-decoration: none;
    cursor: pointer;
}

.logo {
    font-weight: 700;
    color: black;
    font-size: 24px;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


